<DOCTYPE hmtl>
<html>
	<head>
		<title>
			Home Page
		</title>

		<link rel="stylesheet" type="text/css" href="style1.css">
	</head>

		<body>
			<h1>
				Getting Ready for the Weekend
			</h1>

				<img src="tgif_kc.png" class="imghome">

				<div id="HomeText">
					<p class="open">
						Friday Nights Stink At My House...
					</p>
					<p class="hp_column1">
						Actually, they don't stink. They just involve some work. Some organization.  Ok , a lot of organization but the goal is a nice, relaxing weekend so it is all worth it.
						First of all, we do not go out on Friday nights. The kids are tired from a long week of school and you know how fun cranky kids can be at a restaurant. Not.  We treat Fridays like any other weeknight. Dinner, homework, bath, bed.  Then, the work begins. Sometimes the hubby helps, sometimes he hinders.
						Step One: Plan the Activities.
						There are all sorts of free community and parenting magazines at the library. Start there. I collect them at the beginning of each month and then circle everything that looks interesting. Our family also has annual passes to a few favorite facilities, like the zoo and the children’s museum. I know that sounds expensive but do the math. Tickets are expensive and, often, the cost of two trips with your family is the same as a year- long pass. We usually buy this as a family Christmas present. Plus, for whatever reason, it is a write-off on your taxes as a donation. Bonus! If you organize ahead of time, you could even plan a scavenger hunt in the park with prizes and a picnic, which brings us to…
					</p>
					<p class="hp_column2">
						Step Two: The Food.
						I like to cook. Really, I do but sometimes the weekends can get hectic and having ready—made stuff that everyone can grab when they are hungry is great. Plus, it is much healthier than the nearest drive-thru. Go through that stack of recipes that you have during a quiet moment earlier in the week. You are looking for recipes that can last a few days in the fridge without getting mushy. Pasta salad, potato salad, soup, chili, crock pot recipes and even planned leftovers.  I don’t make one. Nope. I stand at the island for an hour or more on Friday nights and make several. I even buy a honey baked ham when I can find a coupon. Anything that can be picked at and enjoyed by my family with zero effort from me works in this plan. And, of course, homemade (from the box) brownies or cookies are always included.
					</p>
					<p class="hp_column3">
						Step Three: The Cleaning.
						Wait. Come back. It’s not that bad. In fact, I learned this trick from a friend. She and her husband would stay up until midnight or later on Friday nights and clean their house from top to bottom.  Everything. The floors, the toilets, the laundry, all the stuff that you were trained to spend all Saturday morning doing. Get it over with. Done. Imagine waking up Saturday and knowing that you don’t have to lift a single finger this weekend, other than the occasional dirty diaper. Nice, right?!
		
						A little organization and advanced planning can make for a fabulous, relaxing, it-feels-like-we-are-on-vacation weekend for every member of the family, including mom. Better yet: it can make every weekend a staycation!
						So, say hooray for stinky Fridays!
					</p>
				</div>
			<ul class="hp_nav">
				<li>
					<a href="EnjoyNYC.html" target="_blank">Ways to enjoy NYC this weekend</a>
				</li>
				<li>
					<a href="page3.html" target="_blank">Are Fridays Overrated?</a>
				</li>
			</ul>

		</body>

</html>