<!DOCTYPE html>
	<html>
		<head>
			<title>
				Things to do this weekend!
			</title>

			<link rel="stylesheet" type="text/css" href="style1.css">
		</head>

		<body>
			<div id="page2">
				<p class="Quote">
					With so many options for activities in the city that never sleeps, it's hard to pick what to do first...  Use some of our suugestions on the right as a starting point!
				</p>

				<h2>
					Ideas to get out of your apartment this weekend
				</h2>

				<ul class="todo">
					<li>
						<a href="http://www.timeout.com/newyork/attractions/hayden-planetarium-space-show-dark-universe" target="_blank">Hayden Planetarium Space Show: Dark Universe</a>
					</li>
					<li>
						<a href="http://www.timeout.com/newyork/food-drink/added-value-brunches" target="_blank">Get your fix after-hours with Midnight Brunch</a>
					</li>
					<li>
						<a href="http://www.timeout.com/newyork/art/the-armory-show-at-100-modern-art-and-revolution" target="_blank">The Armory Show at 100: Modern Art and Revolution</a>
					</li>
					<li>
						<a href="http://www.timeout.com/newyork/clubs/the-tassel-room-1" target="_blank">Take a Trip to The Tassel Room</a>
					</li>
					<li>
						<a href="http://www.timeout.com/newyork/music/marc-ribot-residency" target="_blank">Marc Ribot Residency</a>
					</li>
				</ul>

				<img src="Guggenheim.jpg" class="imgNYC" title"Guggenheim">

			</div>
		</body>

	</html>