<!DOCTYPE html>
	<html>
		<head>
			<title>
				TGI Wednesday?
			</title>

			<link rel="stylesheet" type="text/css" href="style1.css">
		</head>

		<body>

		<img src="tgif_cat.jpg" class="catimg" title="Grumpy Cat">	
		
			<div class="text1">
				<p>
					<span>Thank God its Friday.  Really?</span> Is that something to celebrate? The fact that a week has just breezed by and now you can finally "live" for the next 48 hours before the monotonous cycle begins again.
				</p>

				<p>
					But hey, it doesn't matter, there's always next week.
				</p>
				<p>
					Each and every week, we get lulled into a sense of a new beginning.  We get a fresh start every Monday.  Its alright to procrastinate and put things off because we can always to it next week. And the next week after that, and the next. <span> Until we end up forgetting about what we wanted to achieve and our goals end up lost in this deadly cycle. </span>
				</p>
			</div>
			
			<ul class="pg3_nav">
				<li>
					<a href="https://www.facebook.com/" target="_blank">Share on Facebook!</a>
				</li>
				<li>
					<a href="https://twitter.com/" target="_blank">Share on Twitter!</a>
				</li>
			</ul>

		</body>

	</html>